[submodule "repositories/BLIP"]
	path = repositories/BLIP
	url = git@github.com:salesforce/BLIP.git
[submodule "repositories/CodeFormer"]
	path = repositories/CodeFormer
	url = git@github.com:sczhou/CodeFormer.git
[submodule "repositories/k-diffusion"]
	path = repositories/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion.git
[submodule "repositories/stable-diffusion-stability-ai"]
	path = repositories/stable-diffusion-stability-ai
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = git@github.com:Mikubill/sd-webui-controlnet.git
